@using CRM.Domain
@using CRM.Models
@model CRM.Models.UserBase
@{
    LoginUser user = LoginUser.CurrentUser;
    string partialView = ViewBag.PartialView;
    PageViews pageView = ViewBag.PageType;
    int forceNoCache = Guid.NewGuid().GetHashCode();
    string angularApp = pageView.ToString().ToLower();

    @section UserJS {
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.2/angular.min.js"></script>
        <script type="text/javascript" src="~/Scripts/user.js?@forceNoCache"></script>
        @switch (pageView) {
            case PageViews.Customer:
                <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=geometry&key=@Settings.GoogleApiKey"></script>
                <script type="text/javascript" src="~/Scripts/bootstrap-dropdown.js"></script>
                <script type="text/javascript" src="~/Scripts/googlemaps.js?@forceNoCache"></script>
                <script type="text/javascript" src="~/Scripts/customer.js?@forceNoCache"></script>
            break;
            case PageViews.Client:
                <script type="text/javascript" src="~/Scripts/client.js?@forceNoCache"></script>
                break;
            case PageViews.CallCenter:
                <script type="text/javascript" src="~/Scripts/callcenter.js?@forceNoCache"></script>
                break;
        }
    }
}
<div class="modal fade modal-modalInformation" tabindex="-1" role="dialog" aria-labelledby="Contact Information" aria-hidden="true">
	<div class="vertical-align">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">@Html.Raw(ViewBag.ModalTitleCopy)</h4>
				</div>
				<div class="modal-body">
					@Html.Raw(ViewBag.ModalCopy)
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="jumbotron">
    <div class="container-fluid">
        <div class="panel-title col-md-12">
            @*<img src="~/Content/Images/HealthIntel.svg" class="jumboImage" />*@
            <div class="jumboImage"></div>
            @*<h1>Welcome @ViewBag.VerticalUser</h1>*@
            <h1>@ViewBag.FormTitle</h1>
            <h2>@ViewBag.FormDescription</h2>
        </div>
        <div class="clear"></div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-14">
                <div id="signupbox" class="mainbox">
                    <div class="panel panel-info angular-app" ng-app="@angularApp">
                        <div class="panel-heading">
                            <div class="panel-title">
                                @ViewBag.FormTitle
                                @if (user.IsAdminOrManager || user.IsStandardUser) {
                                    switch (pageView) {
                                        case PageViews.Customer:
                                            <button class="btn btn-danger btn-lg btn-allow-redirect hidden pull-right"><span class="glyphicon glyphicon-remove"></span> Cancel Create</button>
                                            break;
                                    }
                                }
                            </div>
                        </div>
                        @Html.Partial(partialView)
                    </div>
                </div>
            </div>
            <!-- <div class="col-md-6">Model.InstructionsCopy</div> -->
        </div>
    </div>
    </div>