@using CRM.Domain
@using CRM.Models
@model CustomerTransferModel
@{ 
    AjaxOptions options = new AjaxOptions { HttpMethod = "POST", OnSuccess = "handleResponse", OnFailure = "PostFailure", Url = "transferCustomer" }; 
    LoginUser user = LoginUser.CurrentUser;
}
<div class="modal fade modal-transfer" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="vertical-align">
		<div class="modal-dialog modal-lg">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close cancel" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h3 class="modal-title">@Model.CompanyName</h3>
				</div>
				<div class="modal-body scrollable">
					@using (Ajax.BeginForm(null, null, options, new { @class = "form-horizontal form-transfer" })) {
						<div class="panel panel-primary">
							<div class="panel-heading">
								<h2>
									<span>@Model.CompanyName</span>
									<br />
									<span class="locationmiles">
										Provider Location: @Model.LocationText
									</span>
								</h2>
							</div>
							<div class="panel-body">
								<div class="details">
									@if (Model.AgentNotification.HasValue()) {
										<div class="col-md-12 bg-danger private-message">
											<h3>@Model.AgentNotification</h3>
										</div>
									} else {
										<div class="transer-numbers">
											<div class="phone">
												Warm transfer 1 #: @Model.ForwardPhone.FormatPhone()
											</div>
											<div class="phone">
												Warm transfer 2 #: @Model.ForwardPhone2.FormatPhone()
											</div>
										</div>
									}
									<div class="col-md-12">
										@Html.Partial("_WarmTransferScript")
									</div>
								</div>
							</div>
						</div>
						@Html.HiddenFor(model => model.Customer.VerticalId)
						@Html.HiddenFor(model => model.Customer.Transfered)
						@Html.HiddenFor(model => model.EmailTransfer)
						@Html.HiddenFor(model => model.Customer.CustomerId)
						@Html.HiddenFor(model => model.Customer.FirstName)
						@Html.HiddenFor(model => model.Customer.LastName)
						@Html.HiddenFor(model => model.Customer.Phone)
						@Html.HiddenFor(model => model.Customer.Email)
						@Html.HiddenFor(model => model.Customer.City)
						@Html.HiddenFor(model => model.Customer.StateAbbr)
						@Html.HiddenFor(model => model.Customer.ZipCode)
						@Html.HiddenFor(model => model.Customer.HealthInsurance)
						@Html.HiddenFor(model => model.CompanyName)
						@Html.HiddenFor(model => model.ClientId)
						@Html.HiddenFor(model => model.ClientVerticalRelId)
						@Html.HiddenFor(model => model.VCLRelId)
						@Html.HiddenFor(model => model.AllowEmailTransfer)
					}
				</div>
				<div class="panel-footer">
					<div class="col-md-12 btn-group" role="group">
						<div class="tranfer-buttons hidden">
							<div class='col-md-4'>
								<button type='button' class='btn btn-success transfer' value='true'>
									<span class='glyphicon glyphicon-thumbs-up'></span>
									<i>Successful</i>
								</button>
							</div>
							<div class='col-md-4'>
								<button type='button' class='btn btn-info transfer'>
									<span class='glyphicon glyphicon-thumbs-down'></span>
									<i>Un-Successful</i>
								</button>
							</div>
						</div>
						<button type="button" class="btn btn-default pull-right cancel" data-dismiss="modal">Cancel</button>
					</div>
					<div class="clear"></div>
				</div>
				<div class="modal-footer">

				</div>
			</div>
		</div>
	</div>
</div>