<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
@RenderSection("Head", required: true)
<body>
    <div id="container-fluid">
        <!--HEADER-->
        @RenderSection("Header", required: false)
        <!--NAVIGATION-->
        @RenderSection("Navigation", required: true)
        <!--CONTENT-->
        @RenderSection("MainBodyContent", required: true)
        <!--FOOTER-->
        @RenderSection("Footer", required: true)
    </div>
</body>
</html>
